@page "/rooms"
@using HospitalAdmissionApp.Shared.DTOs
@inject HttpClient Http
@inject NotificationService NotificationSvc


<PageTitle>Rooms</PageTitle>

<h1>Rooms</h1>

@if (isLoading)
{
    <em>Loading ...</em>
}
else
{
    <div class="row">
        <div class="col-md-4 col-offset-4 col-sm-12">
            <RadzenLabel Text="Select Clinic" Component="DropDownBindValue" />
            <RadzenDropDown TValue="int?" Data="@clinics" @bind-Value="@selectedClinicId" Change="@(async (args) => await ActivateRoomsGrid(args))"
                            ValueProperty="@(nameof(Clinic_GridDTO.Id))" TextProperty="@nameof(Clinic_GridDTO.Name)" />
        </div>
    </div>
    <br />
    <div>
        <RadzenDataGrid @ref="roomsGrid" AllowFiltering="true" AllowPaging="true" PageSize="7" AllowSorting="true" RowRender="@RowRender" ExpandMode="@expandMode"
                        Data="@rooms" TItem="RoomOverview_DTO">
            <Template Context="room">
                <RadzenDataGrid TItem="BedOverview_DTO" Data="room.Beds" AllowSorting="true" AllowColumnResize="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="BedOverview_DTO" Property="@nameof(BedOverview_DTO.BedInfo)" Title="Bed information" />
                        <RadzenDataGridColumn TItem="BedOverview_DTO" Property="@nameof(BedOverview_DTO.PatientFullName)" Title="Patient Name">
                            <Template Context="bed">
                                @if (bed.PatientId.HasValue)
                                {
                                    <RadzenLink Text="@bed.PatientFullName" Path="@($"/patientDetails/{bed.PatientId}")" style="text-decoration:none" />
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="BedOverview_DTO" Property="@nameof(BedOverview_DTO.DiseaseName)" Title="Disease" />
                    </Columns>
                </RadzenDataGrid>
            </Template>
            <Columns>
                <RadzenDataGridColumn TItem="RoomOverview_DTO" Title="Room number" Property="@nameof(RoomOverview_DTO.RoomNumber)" />
                <RadzenDataGridColumn TItem="RoomOverview_DTO" Title="Occupied" Property="@nameof(RoomOverview_DTO.Occupied)">
                    <Template Context="room2">
                        @if (room2.Occupied)
                        {
                            <span style="color:darkgreen;font-weight:bold">YES</span>
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
}


@code {
    private bool isLoading;

    private Clinic_GridDTO[] clinics;
    private int? selectedClinicId;

    private RadzenDataGrid<RoomOverview_DTO> roomsGrid;
    private RoomOverview_DTO[] rooms;


    [Parameter]
    public RenderFragment<object> DisplayTemplate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        clinics = await Http.GetFromJsonAsync<Clinic_GridDTO[]>("api/clinics");
        isLoading = false;
    }

    private async Task ActivateRoomsGrid(object args)
    {
        if (!isLoading && selectedClinicId.HasValue)
        {
            rooms = await Http.GetFromJsonAsync<RoomOverview_DTO[]>($"api/rooms/roomDetails?c={selectedClinicId.Value}");
            StateHasChanged();
        }
    }

    DataGridExpandMode expandMode = DataGridExpandMode.Single;
    bool? allRowsExpanded;

    async Task ToggleRowsExpand(bool? value)
    {
        allRowsExpanded = value;

        if (value == true)
        {
            await roomsGrid.ExpandRows(roomsGrid.PagedView);
        }
        else if (value == false)
        {
            await roomsGrid.CollapseRows(roomsGrid.PagedView);
        }
    }


    void RowRender(RowRenderEventArgs<RoomOverview_DTO> room)
    {
        room.Expandable = room.Expandable;
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     base.OnAfterRender(firstRender);

    //     if (firstRender)
    //     {
    //         await roomsGrid.ExpandRow(rooms.FirstOrDefault());
    //     }
    // }
}
