@page "/PatientDetails/{Id:int}/{OpenEdit:bool?}"
@using HospitalAdmissionApp.Shared.DTOs

@inject HttpClient Http
@inject NotificationService NotificationSvc
@inject DialogService DlgService
@inject NavigationManager NavMan
@inject TooltipService TooltipSvc

<PageTitle>Patient Details</PageTitle>

<h1>Patient Details</h1>

@if (DTO == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Name:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.Name
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Surname:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.Surname
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Identity card:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.PatientIdentityCard
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Date of birth:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.DateOfBirth
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Age:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.Age
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Sex:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.Sex
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Insurance class:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.Insurance
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            Patient details:
        </div>
        <div class="col-md-9 col-sm-12">
            @DTO.PatientDetails
        </div>
    </div>
    // add edit button go to dlg or make this editable?
}
@code
{
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public bool? OpenEdit { get; set; }

    private Patient_DetailsDTO DTO;


    protected override async Task OnInitializedAsync()
    {
        DTO = await Http.GetFromJsonAsync<Patient_DetailsDTO>($"api/patients/{Id}");
    }
}
